.navImage{
  height: 50px;
  margin: 10px;
}

.head{
  background-color: #0099ff !important;
  height:100%;
  width:100%;
  text-align: center;
}

.searchBar{
  border-radius: 5px;
  border: 0; 
  height: 40px;
  width: 25%;
  text-align: center;
  margin: 10px;
}

.searchBarField{
  border-radius: 5px;
  border: 0; 
  height: 40px;
  width: 25%;
  text-align: center;
  margin: 10px;
}

.dropdownDiv{
  display: inline-block;
  margin: 10px;
}

.schedulerCheckBox{
  margin:10px;
  width: 25px;
  background-color: #eee;
}

.submitButton{
  margin-top:20px;
}

.scrollBox{
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
